// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------



@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}



@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

@mixin transformRotate($property) {
  transform: rotate($property);
  -webkit-transform: rotate($property);
  -moz-transform: rotate($property);
  -o-transform: rotate($property);
}
@mixin transition($property) {
  transition: $property;
  -webkit-transition: $property;
  -moz-transition: $property;
  -o-transition: $property;
}
@mixin excerpt($font-size: 13px, $line-height: 1.4, $lines-to-show: 3, $excerpt-bg: transparent) {
  background: $excerpt-bg;
  display: -webkit-box;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
$XS: 767px;
$SM: 790px;
$MD: 992px;
$LG: 1200px;
$XL: 1920px;
// media queries

@mixin Responsive($canvas) {
  @if $canvas == XS {
    @media only screen and (max-width: $XS) { @content; }
  }
  @else if $canvas == SM {
    @media only screen and (min-width: $SM) and (max-width: $MD) { @content; }
  }
  @else if $canvas == MD {
    @media only screen and (min-width: $MD) { @content; }
  }
  @else if $canvas == LG {
    @media only screen and (min-width: $LG) { @content; }
  }
  @else if $canvas == XL {
    @media only screen and (min-width: $XL) { @content; }
  }
}
