@import "foundation/**";
@import "object/**";
@import "layout/**";

.mv {
  background: url("/images/bg_mv.jpg") 0 0 / 100% no-repeat;
  text-align: center;
  padding-top: 36px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #E7F2F7;
    z-index: -5;
  }
  &-ttl {
    color: #fff;
    font-weight: bold;
    &-head {
      font-size: 32px;
      span {
        font-size: 44px;
      }
    }
    &-content {
      font-size: 32px;
      span {
        font-size: 55px;
      }
    }
  }
  &-list {
    display: flex;
    justify-content: space-between;
    max-width: 834px;
    margin: 26px auto 0;
    li {
      width: calc((100% - 20px) / 3);
      background: #fff;
      text-align: center;
      padding: 13px;
      font-size: 17px;
      font-weight: bold;
      border: solid 2px #000;
      border-radius: 2px;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      &:nth-of-type(1) {
        &::before {
          position: relative;
          display: block;
          width: 23px;
          height: 27px;
          margin-right: 10px;
          content: "";
          background: url("/images/icon_mv1.png") 0 0 / 100%;
        }
      }
      &:nth-of-type(2) {
        &::before {
          position: relative;
          display: block;
          width: 30px;
          height: 34px;
          margin-right: 10px;
          content: "";
          background: url("/images/icon_mv2.png") 0 0 / 100%;
        }
      }
      &:nth-of-type(3) {
        &::before {
          position: relative;
          display: block;
          width: 25px;
          height: 30px;
          margin-right: 10px;
          content: "";
          background: url("/images/icon_mv3.png") 0 0 / 100%;
        }
      }
      span {
        color: #0187DA;
      }
    }
  }
  &-box {
    background: #fff;
    padding: 30px;
    text-align: center;
    box-shadow: 3px 3px 15px rgba($color: #000000, $alpha: 0.15) ;
    max-width: 834px;
    margin: 15px auto 0;
    &-head {
      display: inline-flex;
      margin-bottom: 10px;
    }
    &-ttl {
      font-weight: bold;
      font-size: 26px;
      margin-left: 10px;
    }
    p {
      line-height: 1.5;
    }
  }
}

.intro {
  padding: 80px 0 130px;
  background: url("/images/bg_intro.jpg") bottom 0 left 0 / 100% no-repeat;
  background-color: #E7F2F7;
  &-ttl {
    max-width: 700px;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    margin: 0 auto;
    padding-bottom: 24px;
    position: relative;
    &::before {
      content: "";
      width: 84px;
      height: 114px;
      display: block;
      background: url("/images/img_intro1.png") 0 0 / 100% no-repeat;
      left: 37px;
      bottom: 0;
      position: absolute;
    }
    &::after {
      content: "";
      width: 84px;
      height: 114px;
      display: block;
      background: url("/images/img_intro2.png") 0 0 / 100% no-repeat;
      right: 37px;
      bottom: 0;
      position: absolute;
    }
    span {
      font-size: 28px;
      font-weight: bold;
    }
  }
  &-box {
    background: #fff;
    border: solid 2px #000;
    padding: 40px;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    &-ttl {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.5;
      margin-bottom: 20px;
    }
    &-txt {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 10px;
    }
  }
}

.promise {
  padding: 88px calc(50% - 513px);
  text-align: center;
  &-list {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
  }
  &-item {
    padding: 0 0 22px;
    width: calc((100% - 15px) / 2);
    background: #E7F2F7;
    &-img {
      margin: -30px auto 0;
      width: 110px;
    }
    span {
      font-size: 20px;
      font-weight: bold;
      display: inline-block;
      margin: 15px 0 7px;
    }
    p {
      font-size: 16px;
      line-height: 1.5;
    }
  }
}

.about {
  text-align: center;
  padding-bottom: 88px;
  &-list {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    li {
      width: calc((100% - 15px) / 2);
      background: #E7F2F7;
      figcaption {
        font-size: 14px;
        padding: 15px;
        span {
          display: block;
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 4px;
        }
      }
    }
  }
  &-cap {
    margin-top: 20px;
    color: #333333;
    font-size: 13px;
  }
  &-txt {
    margin-top: 25px;
    line-height: 1.5;
  }
}

.feature {
  background: #E7F2F7;
  padding: 88px calc(50% - 500px);
  text-align: center;
  &-head {
    span {
      font-size: 20px;
    }
    p {
      font-size: 32px;
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 40px;      
    }
  }
  &-table {
    margin-top: 30px;
  }
  &-cap {
    font-size: 13px;
    text-align: left;
    line-height: 1.7;
    margin-top: 32px;
    position: relative;
    li {
      display: flex;
      margin-bottom: 7px;
      &:nth-of-type(1) {
        &::before {
          content: "※1";
          display: block;
          position: relative;
          font-size: 13px;
          margin-right: 8px;
        }
      }
      &:nth-of-type(2) {
        &::before {
          content: "※2";
          display: block;
          position: relative;
          font-size: 13px;
          margin-right: 8px;
        }
      }
      &:nth-of-type(3) {
        &::before {
          content: "※3";
          display: block;
          position: relative;
          font-size: 13px;
          margin-right: 8px;
        }
      }
    }
  }
}

.merit {
  background: #E7F2F7;
  text-align: center;
  padding: 0 calc(50% - 500px) 62px;
  &-list {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  &-item {
    padding: 40px;
    border: solid thin 2px;
    background: #fff;
    width: calc((100% - 15px) / 2);
    border: solid 2px #000;
    border-radius: 4px;
    span {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 8px;
      display: block;
    }
    p {
      font-size: 16px;
      line-height: 1.5;
    }
  }
  &-cap {
    text-align: left;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 10px;
    &::before {
      content: "※";
      display: block;
      position: relative;
      font-size: 13px;
      margin-right: 8px;
    }
  }
  &-txt {
    font-size: 14px;
    line-height: 2;
    margin: 30px 0;
  }
}

.flow {
  padding: 88px calc(50% - 500px) 98px;
  text-align: center;
  &-list {
    margin: 60px 0 30px;
    display: flex;
    justify-content: space-between;
  }
  &-left {
    width: calc((100% - 40px) / 2);
    display: flex;
    justify-content: space-between;
  }
  &-right {
    width: calc((100% - 40px) / 2);
    display: flex;
    justify-content: space-between;
  }
  &-item {
    box-sizing: border-box;
    width: calc((100% - 20px) / 2);
    background: #E7F2F7;
    padding: 24px 16px;
    figure {
      width: 47%;
      display: block;
      margin: 0 auto;
    }
    span {
      display: block;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 8px;
    }
    p {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      text-align: left;
    }
  }
  &-txt {
    font-size: 13px;
    margin-bottom: 40px;
  }
}