doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/style.css")
    
    main 
      .catchphrase
        ul.catchphrase-list
          li グループ企業が
            span 直接買取
          li:span お客さまのペースで
            | 対応
          li:span 最短１日で
            | 回答
        
        .catchphrase-box 
          .u-clock カンタン30秒入力
          


      .mv 
        h2
          span.mv-c-b 東京ガスグループ
          | で
          <br>どうして
          span.mv-c- マンション買取
          | を？
        
        .mv-box 
          p.mv-box-ttl 東京ガスグループでの<br>マンション買取の位置づけ
          p.mv-box-txt 東京ガスグループは創業から138年に渡り、首都圏870万件のお客さまを支えてきた日本最大のガス小売り事業を源流とするグループです。
          p.mv-box-txt 豊かな日常を実現するため、エネルギーに限らず暮らしに寄り添う多くのサービスを提供しています。そのひとつが、東京ガスリノベーションによるマンション買取サービスです。東京ガスリノベーションでは、お客さまから預かった大事な資産を、責任をもって次のお客さまにつなげていけるよう、直接買取を行っています。
