.c-sec-ttl {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  position: relative;
  line-height: 1.4;
  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    display: block;
    width: 60px;
    height: 1px;
    background: #E44431;
    transform: translateX(-50%);
  }
}